/* Hanpengyu 2014/11/14 */
/*风格区域*/
.custom {
    height: 493px;
    overflow-y:auto;
    overflow-x:hidden;
}

.custom-style {
    width:335px;
    /*max-height: 493px;*/
    margin: 0px auto 15px;
    border-radius: 5px;
    overflow-y:auto;
    overflow-x:hidden;
}

.custom-style-title {
    padding: 6px;
    height: 32px;
}

.textoverlapdown-color {
    color: white;
}

/* 更多 */
.moreComponent {
    cursor: pointer;
}
.moreComponent:hover {
    color: blue;
}

/* 单栏样式高 */
.layout-one-col-high {
    width: 320px;
    height: 320px;
    border-radius: 5px;
    /*background: #e3e3e3;*/
    margin: 0px auto 5px;
}

/*上图下文*/
.custom-style-layout-one-col-high .textImage {
    width: 320px;
    height: 300px;
    margin-bottom: 5px;
}

.textOverlapDown {
    position: relative;
    /*width: 335px;*/
    /*height: 260px;*/
}

.textOverlapDown-title {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 10px;
    background:#000;
    opacity:0.5;
    filter:alpha(opacity=50);
    color: white;
}


/* 单栏高低通用 */
.textImage-title {
    padding:0px 0px 0px 10px;
}

/* 单栏样式低 */
.custom-style-layout-one-col-low {
    /*background: #e3e3e3;*/
    width: 320px;
    height: 160px;
    border-radius: 5px;
    margin: 0px auto 5px;
}
/* 上图下文 */
.custom-style-layout-one-col-low .textImage {
    width: 320px;
    height: 140px;
    margin-bottom: 5px;
}



/* 双栏文字 */
.custom-layouttwocoltext {
    width: 336px;
    height: 35px;
    /*padding-left: 15px;*/
    margin-bottom: 5px;
}

.layouttwocoltext-title {
    width: 155px;
    height: 35px;
    line-height: 35px;
    background: #e3e3e3;
    float: left;
    margin: 0px 5px 0px 7px;
    border-radius: 5px;
    cursor: pointer;
}
.layouttwocoltext-title:hover {
    background: #CBCBCB;
    color: white;
}

/* 双栏高 */
.layouttwocol-high {
    width: 335px;
    /*height: 142px;*/
    height: 155px;
    margin-bottom: 5px;
}

/* 双栏样式高单张图片大小 */
.layouttwocol-hight-img {
    width: 155px;
    height: 155px;
    margin: 0px 5px 0px 7px;
    float: left;
    position: relative;
}

/* 双栏样式中 */
.layouttwocol-mid {
    width: 335px;
    height: 130px;
    margin-bottom: 5px;
}

.custom-style-layout-two-col-mid {
    width: 155px;
    height: 130px;
    margin: 0px 5px 0px 7px;
    float: left;
    position: relative;
}

/* 双栏样式低 */
.layout-two-col-low {
    width: 335px;
    height: 70px;
    margin-bottom: 5px;
}
.custom-style-layout-two-col-low {
    width: 155px;
    height: 70px;
    margin: 0px 5px 0px 7px;
    float: left;
    position: relative;
}

/* 三栏文字 */
.custom-layoutThreeColText {
    width: 335px;
    height: 35px;
    margin-bottom: 5px;
}

.layoutthreecoltext-title {
    width: 100px;
    height: 35px;
    line-height: 35px;
    background: #e3e3e3;
    float: left;
    margin: 0px 0px 0px 7px;
    border-radius: 5px;
}

.layoutthreecoltext-title:hover {
    background: #CBCBCB;
    color: white;
    cursor: pointer;
}

/* 三栏样式高 */
.layout-three-col-high {
    width: 335px;
    height: 130px;
    margin-bottom: 5px;
}
.custom-style-layout-three-col-high {
    width: 100px;
    height: 130px;
    float: left;
    position: relative;
    margin: 0px 0px 0px 7px;
}

/* 三栏样式中 */
.layout-three-col-mid {
    width: 335px;
    height: 100px;
    margin-bottom: 5px;
}

.custom-style-layout-three-col-mid {
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    margin: 0px 0px 0px 7px;
}

/* 三栏样式低 */
.layout-three-col-low {
    width: 335px;
    height: 70px;
    margin-bottom: 5px;
}

.custom-style-layout-three-col-low {
    width: 100px;
    height: 70px;
    float: left;
    position: relative;
    margin: 0px 0px 0px 7px;
}

/* 四栏样式 */
.layout-four-col {
    width: 335px;
    height: 75px;
    margin-bottom: 5px;
}

.custom-style-layout-four-col {
    width: 75px;
    height: 75px;
    float: left;
    position: relative;
    margin: 0px 0px 0px 7px;
}

/*1(大)+1样式*/
.layout-one-col-one-row {
    width: 335px;
    height: 101px;
    margin-bottom: 5px;
}

/* 外面包裹的一层div */
.custom-style-layout-one-col-one-row-left {
    width: 205px;
    height: 101px;
    float: left;
    margin: 0px 0px 0px 10px;
    position: relative;
}

.custom-style-layout-one-col-one-row-right {
    width: 100px;
    height: 101px;
    float: left;
    margin:0px 0px 0px 10px;
    position: relative;
}

/* 单张图片大小 */
.layout-one-col-one-row-left {
    width: 205px;
    height: 101px;
}
.layout-one-col-one-row-right {
    width: 100px;
    height: 101px;
}

/* 上图下文 */
.layout-one-col-one-row-left-text-image {
    width: 205px;
    height: 85px;
    float: left;
}
.layout-one-col-one-row-right-text-image {
    width: 100px;
    height: 85px;
    float: left;
}

/* 1+2 */
.layout-one-col-two-row {
    width: 335px;
    height: 170px;
    margin-bottom: 5px;
}

/* 单张图片 */
.custom-style-layout-one-col-two-row-left {
    width: 142px;
    height: 170px;
    margin-left: 7px;
    float: left;
    position: relative;
}
.custom-style-layout-one-col-two-row-right {
    width: 170px;
    height: 80px;
    margin: 0px 0px 10px 5px;
    float: left;
    position: relative;
}

.layout-one-col-two-row-left {
    width: 142px;
    height: 170px;
}

.layout-one-col-two-row-right {
    width: 170px;
    height: 80px;
}

/* 上图下文图片大小 */
.layout-one-col-two-row-left-text-image {
    width: 142px;
    height: 150px;
}
.layout-one-col-two-row-right-text-image {
    width: 170px;
    height: 60px;
}

/* 1+3 */
.layout-one-col-three-row {
    width: 335px;
    height: 225px;
    margin-bottom: 5px;
}

.custom-style-layout-one-col-three-row-left {
    width: 215px;
    height: 225px;
    float: left;
    margin:0px 0px 0px 7px;
    position: relative;
}

.custom-style-layout-one-col-three-row-right {
    width: 72px;
    height: 75px;
    float: left;
    margin-left: 25px;
    position: relative;
}

.layout-one-col-three-row-left {
    width: 215px;
    height: 225px;
}

.layout-one-col-three-row-right {
    width: 72px;
    height: 75px;
}

/* 上图下文 */
.layout-one-col-three-row-left-text-image {
    width: 215px;
    height: 205px;
}

.layout-one-col-three-row-right-text-image {
    width: 72px;
    height: 55px;
}

/*  1+1(大)  */
.layout-one-row-one-col {
    width: 335px;
    height: 101px;
    margin-bottom: 5px;
}

.custom-style-layout-one-row-one-col-left {
    width: 100px;
    height: 101px;
    float: left;
    margin:0px 0px 0px 7px;
    position: relative;
}

.custom-style-layout-one-row-one-col-right {
    width: 205px;
    height: 101px;
    float: left;
    margin: 0px 0px 0px 10px;
    position: relative;
}

/* 单张图片 */
.layout-one-row-one-col-left {
    width: 100px;
    height: 101px;
}

.layout-one-row-one-col-right {
    width: 205px;
    height: 101px;
}

/* 上图下文 */
.layout-one-row-one-col-left-text-image {
    width: 100px;
    height: 85px;
}

.layout-one-row-one-col-right-text-image {
    width: 205px;
    height: 85px;
}

/* 2+1 */
.layout-two-row-one-col {
    width: 335px;
    height: 170px;
    position: relative;
    margin-bottom: 5px;
}

.custom-style-layout-two-row-one-col-left {
    width: 170px;
    height: 80px;
    margin: 0px 0px 10px 7px;
    position: relative;
}

.custom-style-layout-two-row-one-col-right {
    width: 142px;
    height: 170px;
    position: absolute;
    top: 0px;
    left: 185px;

}

/* 单张图片 */
.layout-two-row-one-col-left {
    width: 170px;
    height: 80px;
}

.layout-two-row-one-col-right {
    width: 142px;
    height: 170px;
}

/* 上图下文 */
.layout-two-row-one-col-left-text-image {
    width: 170px;
    height: 60px;
}

.layout-two-row-one-col-right-text-image {
    width: 142px;
    height: 150px;
}

/* 3+1 */
.layout-three-row-one-col {
    width: 335px;
    height: 225px;
    margin-bottom: 5px; 
    position: relative;   
}

.custom-style-layout-three-row-one-col-left {
    width: 72px;
    height: 75px;
    margin-left: 7px;
    position: relative;
}

.custom-style-layout-three-row-one-col-right {
    width: 215px;
    height: 225px;
    /*margin:0px 0px 0px 10px;*/
    position: absolute;
    top:0px;
    left: 110px;
}

.layout-three-row-one-col-left {
    width: 72px;
    height: 75px;
}

/* 单张图片 */
.layout-three-row-one-col-right {
    width: 215px;
    height: 225px; 
}

/* 上图下文 */
.layout-three-row-one-col-left-text-image {
    width: 72px;
    height: 55px;
}

.layout-three-row-one-col-right-text-image {
    width: 215px;
    height: 205px;
}

/* 文字覆盖在上 */
.custom-covering-title {
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 0px;
    line-height: 25px;
    text-align: left;
    padding-left: 10px;
    background:#000;
    opacity:0.5;
    filter:alpha(opacity=50);
}

.text-color {
    color: white;
}

.custom img:hover {
    opacity:0.7;
    cursor: pointer;
}

/*列表自动样式*/
.custom-style .newsauto-component-item {
    margin-left: 10px;
}