
/*重写了Bootstrap*/
.container {
    width: 90%;
    width: 1200px;
}
 .form-group {
    margin-bottom: 5px;
 }
.form-group input[type=text] {
    width: 225px;
    font-size: 12px;
}
.form-group select {
    width: 225px;
    font-size: 12px;
}
.form-group textarea {
    width: 225px;
    font-size: 12px;
}

.form-group input[type=number] {
    width: 225px;
}

.form-group label {
    padding-right: 0px;
}
label {
    font-weight:100;
}
.help-block {
    margin-bottom: 5px;
}

/* 对幻灯片样式的修改 */
.carousel-example-generic_one {
    margin-bottom: 5px;
}
.carousel-indicators {
    position: absolute;
    left: 275px;
    top: 130px;
}
.carousel-caption {
    width: 120px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 0px;
    top: 98px;
    overflow:hidden;
}

/* 对复选框和单选框文字不对齐的处理 */
.align-text {
    vertical-align:middle;
    margin: 0 5px 1px 0;
    padding: 0;
}

/*面板和模态框一样的效果*/
.panel {
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding-box;
            background-clip: padding-box;
}

#uidiy-main-view {
    border-radius: 5px;
}

/*左侧手机*/
.mobleShow {
    margin: 5px;
    border-radius: 5px;
    border: 1px solid white;
    height: 800px;
    position: relative;
    font-size: 12px;
    /*border: 1px solid green;*/
}

/*手机中间显示的内容*/
.mobleShow .moble-content {
    width: 337px;
    margin: 95px 0px 0px 20px;
    height: 611px;
    /*background: #e3e3e3;*/
    overflow: hidden;
}

.moble-top-show {
    width: 320px;
}
.moble-top-title {
    margin-top: 5px;
    margin:5px 0px 0px 0px;
    height: 30px;
    background: #66ADE8;
    color: white;
    padding: 5px 0px 0px 5px;
}
.moble-top-title img {
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.moble-top-title span {
    font-size: 16px;
    font-weight: 200;
}

/*发现模块*/
.found-module {
    height: 560px;
}

/* 前面图标大小 */
.found-content img {
    width: 45px;
    height: 45px;
    margin-right: 20px;
}

.found-content {
    margin: 10px 0px 10px 0px;
    background: #e3e3e3;
    height: 330px;
    overflow-y:auto;
}

.oper-btn {
    margin-top:10px;
    margin-left:40px;
    width: 80px;
}

.discover-title {
    margin-top:10px;
    width:80px;
    overflow:hidden;
}

/* 覆盖一些列表组的样式 */

.found-content .list-group {
    margin-bottom: 10px;
}

.found-content .list-group-item {
    height: 60px;
    border: 1px solid #e3e3e3;
    padding:5px 0px 5px 30px;
    cursor: pointer;
}

.found-content .list-group-item:hover {
    background: #F5F5F5;
}

/*左图右文*/
.pic-text {
    width: 336px;
    height: 555px;
    overflow-y: auto;
    overflow-x:hidden;
    padding: 5px;
}

.pic-text .list-group-item {
    height: 70px;
}

.pic-text .list-group-item:hover {
    background: #F5F5F5;
}

.news-component-item-container {
    width: 330px;
    /*height: 440px;*/
    max-height: 485px;
    overflow-y:auto;
    overflow-x:hidden;
    margin:0 auto;
}

.page-main {
    width:145px;
    height:50px;
    padding-left:10px;
}

.page-title {
    width: 140px;
    height: 18px;
    overflow: hidden;
}

.page-content {
    height: 36px;
    width: 115px;
    word-break:break-all;
    overflow: hidden;
}

.page-btn {
    padding:10px 0px 0px 0px;
}

/*添加页面弹出框*/
.pic-text-pop {
    width: 335px;
    height: 300px;
    border-radius: 5px;
    position: absolute;
    right: 22px;
    top: 95px;
    z-index: 100;
    display:none;
    font-size: 12px;
}

/*添加风格*/
.add-style {
    width: 336px;
    height: 560px;
    overflow-y: auto;
    overflow-x:hidden;
    padding: 5px;
}

/* 控制中间的高度 */
.add-style .custom-style-item-container {
    width: 330px;
    /*height: 400px;*/
    max-height: 470px;
    overflow-y:auto;
    overflow-x:hidden;
}

.add-style-btn, .add-style-comp {
    width: 200px;
    margin-top: 10px;
}

/* 风格区域 */
.single-style {
    width: 326px;
    /*height: 200px;*/
    margin: 5px auto 5px;
    padding-bottom: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}

.style-content {
    padding: 5px;
    margin-bottom: 5px;
    width: 300px;
    /*height: 165px;*/
}

.style-title {
    height: 30px;
    width: 300px;
    margin: 5px 0px 5px;
}

.style-area {
    width: 300px;
    height: 60px;
    background: #e3e3e3;
    /*margin-bottom: 5px;*/
    margin: 7px 0px 5px;
}

/*添加风格弹出框*/
.add-style-pop {
    width: 337px;
    height: 300px;
    border-radius: 5px;
    position: absolute;
    right: 21px;
    top: 30px;
    z-index: 100;
    display:none;
    font-size: 12px;
}

/*添加组件弹出框*/
.add-comp-pop {
    width: 337px;
    /*height: 600px;*/
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 95px;
    z-index: 100;
    display:none;
    font-size: 12px;
}

.add-comp-pop .panel-body {
    height: 500px;
    overflow-y:auto;
    overflow-x:hidden;
}

/* 添加幻灯片弹出框 */
.add-slide-pop {
    width: 335px;
    height: 300px;
    border-radius: 5px;
    position: absolute;
    right: 22px;
    top: 174px;
    z-index: 100;
    display:none;
    font-size: 12px;
}

.slide-list {
    padding-left: 50px;
}

.slide-list select {
    width: 120px;
}

.slide-select {
    padding-top: 10px;
}

/* 添加频道弹出框 */
.add-channel-pop{
    width: 335px;
    height: 300px;
    border-radius: 5px;
    position: absolute;
    right: 22px;
    top: 174px;
    z-index: 100;
    display:none;
    font-size: 12px;
}


/*手机底部的导航*/
.moble-bottom-nav {
    height: 60px;
    width: 337px;
    background: #66ADE8;
    overflow:hidden;

}

.moble-bottom-nav .nav-column {
    width: 67px;
    height: 60px;
    padding-top:40px;
    overflow:hidden;
    font-size: 12px;
}

.nav-edit a {
    cursor:pointer;
}

.moble-bottom-nav .nav-add img{
    width:40px;
    height: 40px;
    margin:10px 10px 0px 15px;
    border-radius: 5px;
}

.nav-icon {
    /*padding: 5px 5px; */
    background: #66ADE8; 
    width: 460px;
    height: 222px;
    border-radius: 5px;
    position: absolute;
    bottom:200px;
    left: 115px;
    display: none;
}

.nav-icon .nav-icon-close {
    position: absolute;
    left: 440px;
}

.nav-pic {
    margin: 2px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    float: left;
}

/*底部添加导航*/
.play-border-add {
    width: 300px;
    /*height: 300px;*/
    background: #D6ECCD;
    border-radius: 5px;
    position: absolute;
    right: 38px;
    bottom: 170px;
    z-index: 100;
    display:none;
    font-size: 12px;
}

.play-border-add input[type=text], .pic-text-pop input[type=text], .add-style-pop input[type=text],
.add-comp-pop input[type=text], .add-channel-pop input[type=text], .add-slide-pop input[type=text]
{
    width: 170px;
}

.play-border-add select, .pic-text-pop select, .add-style-pop select,.add-comp-pop select, 
.add-channel-pop select, .add-slide-pop select, .play-add-plug select
{
    width: 170px;
}

.play-border-add input[type=number], .pic-number-pop input[type=number], .add-style-pop input[type=number],
.add-comp-pop input[type=number], .add-channel-pop input[type=number], .add-slide-pop input[type=number],
.pic-text-pop input[type=number]
{
    width: 170px;
}
/*重写面板*/
.play-border-add .panel {
    margin-bottom: 0px;
}
.play-border-add .panel-footer, .play-add-plug .panel-footer{
    padding: 5px 15px;
}

/*三个加号*/
.play-add-plug {
    width: 335px;
    height: 300px;
    border-radius: 5px;
    position: absolute;
    right: 22px;
    top: 160px;
    z-index: 100;
    display:none;
    font-size: 12px;
}

/*右侧整体*/
#operation {
    margin-top: 15px;
    /*padding-top: 30px;*/
    font-size: 12px;
}

/*模块管理 暂时不用*/
#module-list {
    /*height: 500px;*/
    /*border: 1px solid #CCCCFF;*/
    /*border-radius: 5px;*/
    /*overflow: auto;*/
}

.module-management {
    height: 500px;
    max-height: 500px;
    overflow-y:auto;
    overflow-x:hidden;
}

#module-list .module {
    width: 99px;
    height: 120px;
    font-size: 12px;
    margin:2px 0px 10px 5px;
    text-align: center;
    float: left;
}
#module-list .module img {
    width: 80px;
    height: 80px;
    margin: 5px 0px 2px 2px;
}
#module-list .module span {
    margin: 8px;
}

#footNav input[type=radio] {
    vertical-align: middle;
    margin: 0 5px 1px 0;
    padding: 0;
}

#foot {
    margin-top: 10px;
    color: red;
}

.module-title {
    width: 80px;
    height: 20px;
    margin:0 auto;
    overflow-x:hidden;
    overflow-y:hidden;
    font-size: 12px;
}


/*编辑内容*/
.edit .form-group, .pic-text-pop .form-group {
    margin-bottom: 5px;
}

.edit-middle {
    width:80px;
    height:100px;
    padding:4px 0px 0px 10px;
}

.edit-right {
    width:300px;
}
.edit-right select {
    width: 150px;
}

.edit .more-fastpost-btn {
    width:225px;
    margin-left:145px;
}

.quick-edit {
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    padding: 5px 0px 5px 0px;
    border: 1px solid rgba(0,0,0,0.1);
}

/*新写的模块编辑填出框*/
.module-play {
    width: 99%;
    height: 800px;
    background: white;
    border-radius: 5px;
    position: absolute;
    left: 15px;
    top: 30px;
    overflow-y:auto;
    overflow-x:hidden;
    z-index: 49;
    display: none;
}

.del-pic {
    width:20px;
    height:20px;
    position:absolute;
    left:50px;
    top:-8px;
}

.module-play .panel-body {
    max-height: 650px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*主要是弹出框面板的标题*/
.module-play .panel-heading, .play-add-plug .panel-heading, .play-border-add .panel-heading, .pic-text-pop .panel-heading,
.add-style-pop .panel-heading, .add-comp-pop .panel-heading, .add-slide-pop .panel-heading, .add-channel-pop .panel-heading {
    width: 100%;
    height: 40px;
}
.module-play .panel-title {
    width: 100px;
}

/*二级导航/添加导航列表*/
.add-nav-list .component-view-container {
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    /*padding: 5px 0px 5px 0px;*/
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 6px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.1); 
    background: white;
    /*background: #2E8BCE;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    /*-webkit-box-shadow: inset 0 0 6px #2E8BCE;*/
}
::-webkit-scrollbar-thumb:window-inactive {
    /*background: rgba(255,0,0,0.4); */
    background: #2E8BCE;
}

/* 弹出框覆盖层 */
.covering{
    z-index: 50;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.4;
    filter:alpha(opacity=40);
    display:none
}

/* 对用到的按钮增加阴影的操作 */
.btn-primary, .btn-default, .moble-bottom-nav {
    /*background: #66ADE8;*/
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;
    outline: none;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding-box;
            background-clip: padding-box;
}

/* 对模块管理中的按钮样式修改 */
#module-list .btn-xs {
    padding:3px 6px;
}

/* home 按钮 */
.home-btn {
    width: 60px;
    height: 60px;
    border-radius: 500px;
    outline: none;
    position: absolute;
    left:157px;
    bottom: 20px;
    outline: none;
}

/* 上传图片 */
.upload-component-icon-btn {
    /*margin-top: 8px;*/
}

.pic-preview {
    padding-top: 8px;
}

/* 兼容代码，兼容左图右文弹出框样式、添加组件、添加幻灯片 */
.pic-text-pop .col-sm-2, .add-comp-pop .col-sm-2, .add-style-pop .col-sm-2, .add-slide-pop .col-sm-2,
.play-add-plug .col-sm-2
{
    padding-left: 15px;
    width: 99px;
}

/* 主题标题长度、主题摘要长度 */ 
.mob-topic-len-left {
    display: none;
}
.pic-text-pop .mob-topic-len-left, .add-comp-pop .mob-topic-len-left, .add-style-pop .mob-topic-len-left, .add-slide-pop .mob-topic-len-left,
.play-add-plug .mob-topic-len-left
{
    padding-left: 60px;
    color: red;
    display: block;
}

.pic-text-pop .mob-topic-len, .add-comp-pop .mob-topic-len, .add-style-pop .mob-topic-len, .add-slide-pop .mob-topic-len,
.play-add-plug .mob-topic-len
{
    display: none;
}

/*付费提示，wap页做的兼容性*/
.mobcent-pay-info {padding-left:130px;}

.pic-text-pop .mobcent-pay-info, .add-comp-pop .mobcent-pay-info, .add-style-pop .mobcent-pay-info, .add-slide-pop .mobcent-pay-info,
.play-add-plug .mobcent-pay-info
{
    padding-left: 80px;
}

/* 为了兼容上传图片下面的预览框 */
.pic-text-pop .col-sm-offset-2, .add-comp-pop .col-sm-offset-2, .add-style-pop .col-sm-offset-2, 
.add-slide-pop .col-sm-offset-2
{
    padding-left: 40px;
}

.pic-text-pop .col-sm-10, .add-comp-pop .col-sm-10, .add-style-pop .col-sm-10, .add-slide-pop .col-sm-10, 
.play-add-plug .col-sm-10
{
    width: 215px;
}

.pic-text-pop .form-group textarea, .add-comp-pop textarea, .add-style-pop textarea, .add-slide-pop textarea {
    width: 170px;
}

/* 兼容图片上传图标 */
.pic-text-pop .del-pic, .add-comp-pop .del-pic, .add-slide-pop .del-pic {
    position: absolute;
    left: 100px;
}

/* 兼容图片预览区域 */
.pic-text-pop .pic-preview, .add-comp-pop .pic-preview, .add-style-pop .pic-preview, .add-slide-pop .pic-preview {
    position:relative;
    width: 225px;
    padding-left: 60px;
    /*text-align: left;*/
}

/* 整体颜色的修改，主要是针对bootstrap的面板进行修改 */
.panel-primary {
    border-color:#e3e3e3;
}
.panel-primary .panel-heading{
    background: #66ADE8;
}



/*手机页面显示，首页*/
.content-list {
    width:314px;
    height:255px;
    margin:5px auto 0px;
    /*border:1px solid rgba(0,0,0,0.1);*/
    border-radius:5px;
    overflow:hidden;
    /*background: green;*/
}

.content-list .list-group-item {
    height:85px;
    padding:5px 10px 5px 5px;
}

.content-list .list-group-item-text {
    height:50px;
    width:210px;
    overflow:hidden; 
    line-height:17px;
    text-indent:25px;
}

/* 导入导出配置 */
.uidiy-config-admin {
    position: absolute;
    right: 80px;
    top:3px;
}

.uidiy-config-admin input[type=file] {
    width: 170px;
}

.newsauto-component-item {
    /*border:1px solid red;*/
    height: 55px;
}