

body {overflow：scroll;}

/*重写了Bootstrap*/
.container {
    width: 90%;
}
 .form-group {
    margin-bottom: 5px;
 }
.form-group input[type=text] {
    width: 200px;
    font-size: 12px;
}
.form-group select {
    width: 200px;
    font-size: 12px;
}
.form-group label {
    padding-right: 0px;
}
label {
    font-weight:100;
}

#uidiy-main-view {
    /*background: #e3e3e3;*/
    border-radius: 5px;
}

/*左侧手机*/
.mobleShow {
    margin: 5px;
    border-radius: 5px;
    border: 1px solid white;
    height: 800px;
    position: relative;
}

/*手机中间显示的内容*/
.mobleShow .moble-content{
    width: 320px;
    margin: 118px 0px 0px 30px;
    /*border: 1px solid blue;*/
    height: 520px;
    background: #F8F8F8;
}

.moble-top-show {
    width: 320px;
}
.moble-top-title {
    margin-top: 10px;
    /*border: 1px solid red;*/
    height: 40px;
}
.moble-top-title img {
    width: 22px;
    height: 22px;
    /*border: 1px solid blue;*/
}
.moble-top-title span {
    font-size: 16px;
    font-weight: 200;
}

/*灰色的*/
.module-show {
    margin-top: 10px;
}
.module-show img {
    width: 25px;
    height: 25px;
    margin: 1px 20px 0px 0px;
}
.module-show-one, .module-show-two, .module-show-three{
    background: #CCCCCC;
    height: 28px;
    border: 1px solid #797979;
    padding: 0px 20px 0px 25px;
    line-height: 26px;

}
.module-show-one {
    border-bottom: 0px;
}
.module-show-three {
    border-top: 0px;
    width: 300px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 0px 10px 0px 15px;
}
.module-show-one .pull-right, .module-show-two .pull-right, .module-show-three .pull-right{
    margin-right: 10px;
}

/*手机底部的导航*/
.moble-bottom-nav {
    height: 50px;
    width: 320px;
    background: #CCCCCC;
    border-top: 1px solid #797979;
    margin: 0px 0px 0px 30px;
    overflow:hidden;
}

.moble-bottom-nav .nav-column {
    width: 62px;
    height: 50px;
    padding-top:30px;
    overflow:hidden;
    font-size: 11px;
}

.moble-bottom-nav .nav-column img {
    width: 80px;
    height: 80px;
    border: 1px solid red;
}

.moble-bottom-nav .nav-add img{
    width:30px;
    height: 30px;
    margin:10px 10px 0px 15px;
}

/*底部添加导航*/
.play-border-add {
    width: 300px;
    /*height: 300px;*/
    background: #D6ECCD;
    border-radius: 5px;
    position: absolute;
    right: 38px;
    bottom: 174px;
    z-index: 10;
    display:none;
    font-size: 12px;
}

.play-border-add input[type=text] {
    width: 150px;
}
.play-border-add select {
    width: 150px;
}
/*重写面板*/
.play-border-add .panel {
    margin-bottom: 0px;
}
.play-border-add .panel-footer, .play-add-plug .panel-footer{
    padding: 5px 15px;
}

/*三个加号*/
.play-add-plug {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    position: absolute;
    right: 37px;
    top: 188px;
    z-index: 10;
    display:none;
    font-size: 12px;
}


/*右侧整体*/
#operation {
    margin-top: 40px;
    /*border: 1px solid green;*/
    font-size: 12px;
}

/*模块管理*/
#module-list {
    height: 600px;
    /*border: 1px solid #CCCCFF;*/
    /*border-radius: 5px;*/
    /*overflow: auto;*/
}
#module-list .module {
    width: 100px;
    height: 120px;
    font-size: 12px;
    margin:2px 0px 10px 5px;
    text-align: center;
    float: left;
}
#module-list .module img {
    width: 80px;
    height: 80px;
    margin: 5px 0px 2px 2px;
}
#module-list .module span {
    margin: 8px;
}

#footNav input[type=radio] {
    vertical-align: middle;
    margin: 0 5px 1px 0;
    padding: 0;
}

#foot {
    margin-top: 10px;
    color: red;
}

.module-title {
    width: 80px;
    height: 20px;
    margin:0 auto;
    overflow-x:hidden;
    overflow-y:hidden;
    font-size: 12px;
}


/*编辑内容*/
.edit .form-group {
    margin-bottom: 0px;
}

.edit-middle {
    width:80px;
    height:100px;
    padding:4px 0px 0px 10px;
}

.edit-right {
    width:300px;
}
.edit-right select {
    width: 150px;
}

/*新写的模块编辑填出框*/
.module-play {
    width: 99%;
    height: 800px;
    background: white;
    border-radius: 5px;
    position: absolute;
    left: 15px;
    top: 0px;
    overflow-y:auto;
    z-index: 100;
}
.module-play .panel-body {
    max-height: 650px;
    overflow: auto;
}
/*主要是弹出框面板的标题*/
.module-play .panel-heading, .play-add-plug .panel-heading, .play-border-add .panel-heading {
    width: 100%;
    height: 40px;
}
.module-play .panel-title {
    width: 100px;
}

/*二级导航/添加导航列表*/
.add-nav-list .component-view-container {
    /*background: #D8EDCF;*/
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    padding: 5px 0px 5px 0px;
    border: 1px solid rgba(0,0,0,0.1);
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 6px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.1); 
    /*background: #2E8BCE;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    /*-webkit-box-shadow: inset 0 0 6px #2E8BCE;*/
}
::-webkit-scrollbar-thumb:window-inactive {
    /*background: rgba(255,0,0,0.4); */
    background: #2E8BCE;
}


/*颜色*//*面板边框*/
.panel-primary {
    border-color:#e3e3e3;
}
.panel-primary .panel-heading{
    background: #66ADE8
}
.btn-primary {
    background: #5FA7E5;
}

#module-list .btn-xs {
    padding:3px 6px;
}
